#Payment-Summary {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 8px #aeacac;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  box-sizing: border-box;
  
  .Payment-Summary-List {
    display: flex;
    flex-direction: column;
    
    .Payment-Summary-Item {
      display: flex; 
      justify-content: space-between;
      
      .Summary-Item-Label {
        font-weight: bold;
      }
      .Summary-Item-Quantity {
        font-weight: normal;
      }
    }
  }
  
  .Payment-Summary-Actions {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    
    .Summary-Actions-Group {
      display: flex;
      justify-content: space-between;
      margin: 0 0 10px 0;
      
      &.Pay-Order {
        flex-direction: column;
        gap: 10px;
      }
      
      .Summary-Action-Button {
        border-radius: 6px;
        padding: 8px 16px;
        border: 1px solid #002E6E;
        color: #002E6E;
        cursor: pointer;
        width: 48%;
        
        &.Payment-Button {
          background-color: #002E6E;
          color: #ffffff;
          font-weight: bold;
          width: 100%;
        }
        
        &.Cancel-Button {
          width: 100%;
          background-color: #ac090c;
          border: 1px solid #830407;
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }
}