#POS-Home {
  
  .Navigation-Layout,
  .POS-Component-Layout {
    float: left;
    width: 100%;
    clear: both;
    box-sizing: border-box;
  }
  
  .POS-Component-Layout {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    
    .POS-Component-Layout-Left {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      max-width: 500px;
    }
    
  }
}